{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
<div class="col">
    <img  src="{% static './images/items/640.jpg' %} ">
 <!-- brand-wrap.// -->
</div>
<div class="col">
  <p><b>About Us</p>
  <p><B>We Love to make ancient Jewellery styles and surprise people with mesmerizing beauty of every product <Br>
  <br>We are inspired by ancient China and India, jewellery was believed to have spiritual and mystical properties, <br>and was used in religious ceremonies and as talismans for protection and good luck.
<br>Ancient Egyptian jewellery, Diamonds and Real Gemstones, was often adorned with precious stones and metals, <br>and was considered a symbol of the gods' favor.<br>
Jewellery has been an integral part of human culture for thousands of years,<br> and ancient Jewellery was often crafted with great skill and artistic expression.<br> In many cultures,
Jewellery was used to signify wealth, status, and power, <br>and was often worn by rulers and other high-ranking members of society.
</p>
</div>
<div class="col">
    <img  src="{% static './images/items/640_3.jpg' %} ">
 <!-- b/rand-wrap.// -->
</div>


  </div>
{% endblock %}
